.achivmentsbar-section {
  padding: 24px 40px;
  border-radius: 24px;
  background: var(--color-brand-light);
  margin-bottom: 40px;
  font-size: 14px;
  color: var(--color-primary-dark);
}
.achivmentsbar-list__item:not(:last-child) {
  margin-bottom: 16px;
}
