.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      gap: 64px;
      flex-grow: 1;
      justify-content: flex-end;
    }

    @media screen and (min-width: 1280px) {
      justify-content: center;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__button--open {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
