.button{
    border-radius: 8px;
border: 2px solid var(--color-brand-normal);
background: var(--color-brand-normal);
width:204px; padding:16px 24px;
color: var(--color-primary-light);
display: block;
}