.chef-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  @media screen and (min-width: 1280px) {
    gap: 30px;
  }

  &__photo {
    width: 140px;
    border-radius: 2px 2px 2px 116px;
    box-shadow: -8px 8px 0 0 var(--color-primary-light),
      -8px 8px 0 2px var(--color-secondary-dark);
  }
}
